.primeiro_bloco_cuidados{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 400px;
}

.primeiro_bloco_cuidados h2{
    font-size: 36px;
    color: #4186F7;
}

.primeiro_bloco_cuidados p{
    font-size: 20px;
    color: #4186F7;
}

.agendar_consulta{
    padding: 0px 400px;
}

.agendar_consulta p{
    font-size: 20px;
    color: #4186F7;
}

.links_agendar_consulta{
    display: flex;
}

.links_agendar_consulta a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 0px 10px;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    background-color: #0018EE;
    cursor: pointer;
    text-decoration: none;
    width: 120px;
}

.links_agendar_consulta a:hover{
    background-color: #0018EE;
    color: #0081FB;
}

.area_saude{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 30px 375px;
}

.paragrafo_saude{
    color: #0081FB;
    padding: 10px 0px;
}

.paragrafo_saude h2{
    font-size: 36px;
}

.paragrafo_saude p{
    font-size: 20px;
}

/*Seção de responsividade*/


@media screen and (max-width:1700px){
    .area_saude{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 100px;
    }
    .paragrafo_saude{
        padding: 0px 200px;
    }
}

@media screen and (max-width:1500px){
    .primeiro_bloco_cuidados{
        padding: 20px 200px;
    }
    .agendar_consulta{
        padding: 0px 200px;
    }
    .area_saude{
        padding: 10px 200px;
    }

}

@media screen and (max-width:1100px){
    .primeiro_bloco_cuidados{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 100px;
    }
    .agendar_consulta{
        padding: 0px 60px;
    }
    
    .area_saude img{
        width: 600px;
    }
    .paragrafo_saude{
        padding: 0px 50px;
    }
}

@media screen and (max-width:770px){

    .area_saude img{
        width: 500px;
    }
    .paragrafo_saude{
        padding: 0px;
    }
}
