.botao_link a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    background-color: #0081FB;
    cursor: pointer;
    text-decoration: none;
    width: 100px;
}

.botao_link a:hover{
    background-color: #0018EE;
    color: white;
}