.card{
    background-color: white;
    width: 290px;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.card img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card h2{
    padding: 0px 10px;
    color: #4E74F8;
    font-size: 20px;
}

.card p{
    padding: 10px 20px 10px 20px; 
    font-size: 16px;
}