.div_2{
    background-color: #3A8EF6;
}

.div_2 h2{
    font-size: 32px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 50px;
}

.segundo_bloco{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 300px;
    padding-bottom: 80px;
}

.segundo_bloco div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 290px;
    height: 450px;
    border-radius: 10px;
    padding: 0px;
}

.segundo_bloco img{
    height: 185px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;
    margin-top: -60px;
}

.segundo_bloco h2{
    font-size: 20px;
    color: #5668F8;
    display: flex;
    padding: 0px 20px;
}

.segundo_bloco p{
    font-size: 16px;
    color: black;
    padding: 0px 20px;
}

.segunda_imagem{
    margin-bottom: -60px;
}