.div_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 360px;
    margin-top: 20px;
}

.primeiro_bloco h2{
    font-size: 40px;
    color: #4383F7;
}

.primeiro_bloco p{
    font-size: 20px;
    color: #5F6DF8;
}

.section_card{
    background-color: #4383F7;
    padding: 10px 300px;
}

.section_card h2{
    font-size: 32px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.conjunto_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 330px;
}

.terceiro_bloco{
    padding: 20px;
}

.terceiro_bloco h2{
    font-size: 40px;
    font-weight: 800;
    color: #4383F7;
}

.paragrafo{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

.texto_azul{
    color: #4383F7;
}
